body {
    max-width: 1500px;
    font-family: "Helvetica Neue", Arial, sans-serif;
    background-color: #f0eff2;
    color: #333;
    margin: 0;
}

.container {
    max-width: 900px;
    margin: 60px auto;
    padding: 32px;
}

h2 {
    margin-bottom: 32px;
    font-size: 24px;
    font-weight: bold;
    border-left: 6px solid #000;
    padding-left: 10px;
}

.approval-tab {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
}

.approval-tab__stay,
.approval-tab__done {
    padding: 12px 16px;
    border-radius: 5px;
    cursor: pointer;
    color: #9a9a9a;
    font-weight: bold;
        
}

.approval-tab__stay.active,
.approval-tab__done.active {
    color: #000;
    border-bottom: 2px solid #000;
}

.approval-tab__stay:hover,
.approval-tab__done:hover {
    background-color: #eee;
}

.attendance-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #737373;
}

.attendance-table th {
    font-size: 16px;
    padding: 12px 0;
    border-bottom: 2px solid #ddd;
}

.attendance-table td {
    padding: 12px 20px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #eee;
}



.detail-link {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}